name: Self-Hosted Runner Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Who am I
        run: echo Running on my own machine

      - name: Show path
        run: echo %CD%

      - name: List files
        run: dir
