name: DigiWallet CI/CD

on:
  push:
    branches: [main, final_fsd]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Tests
        run: ./mvnw.cmd test

      - name: Build JAR
        run: ./mvnw.cmd package -DskipTests

      - name: Start Backend
        run: |
          Start-Process java -ArgumentList "-jar","target\DigiWallet-0.0.1-SNAPSHOT.jar" -WindowStyle Hidden
          Start-Sleep -Seconds 15
          echo "Backend running on http://localhost:8080"


      - name: Start Frontend
        run: |
          $workDir = Join-Path (Get-Location) "frontend"
          Start-Process powershell -ArgumentList "-File","$workDir\http-server.ps1" -WindowStyle Hidden
          Start-Sleep -Seconds 5
          echo "Frontend running on http://localhost:3000"
        continue-on-error: true



