name: SSH Connectivity Test

on:
  push:
    branches:
      - main

jobs:
  ssh-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.CHIRAG_MACHINE }}

      - name: Test SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no Administrator@172.30.1.69 "echo 'CI/CD reached my machine successfully'"